* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5;
}


#primeira_pagina {
    background: linear-gradient(329.54deg, #000000 0%, #2e2c2c 100%);
    min-height: 100vh;
    text-align: center;
    color: aliceblue;
}

#container {
    margin: auto;
    width: 90%;
}

.minhas_informacoes {
    height: 16vh;
}

#frase {
    height: 16vh;
}

.redes-sociais ul {
    height: 16vh;
}

#logo {
    border-radius: 50%;
}

ul li {
    list-style: none;
    display: inline;
}

a:link {
    text-decoration: none;
}