* {
    margin: 0;
    padding: 0;
}

#primeira_pagina {
    background: linear-gradient(329.54deg, #000000 0%, #2e2c2c 100%);
    min-height: 100vh;
    text-align: center;
    color: aliceblue;
}

ul li {
    list-style: none;
    display: inline;
}

a:link {
    text-decoration: none;
}